<mjml>
  <mj-head>
    <mj-font name="Space Mono" href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" />
    <mj-font name="Montserrat" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" />
  </mj-head>
  <mj-body>
    <mj-section background-color="#000" padding="20px 20px">
      <mj-column width="70%">
        <mj-image src="https://indoor-kids.com/img/logo-white.png" href="https://indoor-kids.com" title="Link: Indoor Kids Site" align="left"></mj-image>
        <mj-button font-family="Space Mono" background-color="#000" color="white" width="100%" padding="0" text-align="left" font-weight="400" font-size="10px" letter-spacing="3px" href="mailto:indoorkidsband2020@gmail.com" text-decoration="none">
          indoorkidsband2020@gmail.com
        </mj-button>
      </mj-column>
      <mj-column width="30%">
        <mj-button font-family="Montserrat" background-color="#000" color="white" width="100%" padding="0" text-align="right" font-weight="700" font-size="10px" letter-spacing="3px" href="https://soundcloud.com/indoor-kids-band/" text-decoration="none">
          soundcloud
        </mj-button>
        <mj-button font-family="Montserrat" background-color="#000" color="white" width="100%" padding="0" text-align="right" font-weight="700" font-size="10px" letter-spacing="3px" href="https://twitter.com/IndoorKidsBand/" text-decoration="none">
          twitter
        </mj-button>
        <mj-button font-family="Montserrat" background-color="#000" color="white" width="100%" padding="0" text-align="right" font-weight="700" font-size="10px" letter-spacing="3px" href="https://www.instagram.com/indoor_kids_band/" text-decoration="none">
          instagram
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>