$white: #FFFFFF;
$black: #1A1A1A;
$black-alt: #101010;
$grey: #D0D0D0;

$gutter: 5px;
$base-spacing: 20px;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Space Mono', monospace;

$desktop-breakpoint: 768px;