.content {
  position: relative;
  padding: $base-spacing*3 $base-spacing;
  color: $grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-transform: lowercase;

  .content-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $base-spacing;
    box-sizing: border-box;
  }

  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .text {
    @media screen and (min-width: $desktop-breakpoint) {
      margin-top: $base-spacing*2.5;
      p {
        max-width: 300px;
      }
    }
  }

  .align-right{
    @media screen and (min-width: $desktop-breakpoint) {
      text-align: right;
    }
  }

  iframe{
    @media screen and (max-width: $desktop-breakpoint) {
      width: 100%;
    }
  }

  .image-list {
    padding: 0 $gutter;
    margin: 0 auto;
    width: 75%;

    li {
      display: inline-block;
      list-style: none;
      width: 33.33%;
      float: left;
      padding: 0 $gutter $gutter*2;
      box-sizing: border-box;

      img {
        max-width: 100%;
        height: auto;
        margin: 0;
      }
    }

    @media screen and (max-width: $desktop-breakpoint) {
      li {
        width: 100%;
        float: none;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .show-list {
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 $base-spacing*1.5;

      a {
        display: block;
        position: relative;
        font-size: 12px;
        line-height: 1.9em;
        letter-spacing: 0.5em;
        text-transform: lowercase;

        span {
          display: block;
        }

        &.complete {
          span {
            text-decoration: line-through;
          }
        }

        &:hover{
          text-decoration: none;
        }
      }
    }

    @media screen and (min-width: $desktop-breakpoint) {
      margin-top: $base-spacing*4;

      li{
        a{
          span {
            margin-right: $base-spacing;
            display: inline-block;
          }
        }
      }
    }
  }

  .social-list {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin: 0 0 $base-spacing/2;

      a {
        font-weight: bold;
        display: block;
        position: relative;
        font-size: 12px;
        line-height: 1.9em;
        letter-spacing: 0.5em;
        text-transform: lowercase;
      }
    }
  }

  &.animate-fade-in {
    opacity: 0;
  }

  &.show {
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    transition: all 2.0s ease;
    opacity: 1;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    padding: $base-spacing*7 $base-spacing $base-spacing*6;
  }
}

#press {
  background-color: $black-alt;

  .review {
    margin-bottom: $base-spacing*3;

    .lead {
      max-width: 600px;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      float: left;

      &.right {
        float: right;
      }
    }
  }
}