.grid {
  position: relative;
  width: 100%;

  .col {
    display: inline-block;
    float: left;
    box-sizing: border-box;

    &.one-third {
      width: 33.33%;
    }

    &.half {
      width: 50%;
    }

    &.two-thirds {
      width: 66.66%;
    }
  }

  @media screen and (max-width: $desktop-breakpoint) {
    .col {
      float: none;
      width: 100% !important;
      margin: 0 0 $base-spacing;
    }
  }
}