$main-icon-dimension: 420px;

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

body {
  background-color: $black;
}

main {
  opacity: 0;
  background-position: 50% 0;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto $base-spacing;
  }

  &.loaded {
    -webkit-transition: opacity 1.5s ease;
    -moz-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
    opacity: 1;
  }
}