.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 100px black;
  position: relative;

  h1 {
    -webkit-transition: opacity 1.0s ease;
    -moz-transition: opacity 1.0s ease;
    transition: opacity 1.0s ease;
    opacity: 1;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    margin: 0 0 $base-spacing*2;
    width: $main-icon-dimension;
    margin-left: - $main-icon-dimension/2;
    padding: 0 $base-spacing*1.5;
    max-width: 100%;
    z-index: 100;

    &.hidden {
      opacity: 0;
    }

    @media screen and (max-width: $desktop-breakpoint) {
      img {
        max-width: 275px;
      }
    }
  }

  .promo {
    position: absolute;
    width: 100%;
    bottom: $base-spacing*2;
    left: 0;

    .content-inner {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 $base-spacing;
      box-sizing: border-box;
    }

    a {
      display: block;
    }

    img {
      float: left;
      margin-right: $base-spacing*2;
    }

    .text {
      position: relative;
      top: $base-spacing*2.5;

      p {
        font-size: 12px;
        line-height: 1.4em;
        letter-spacing: 0.5em;
        margin-bottom: $base-spacing/2;
      }
    }
  }

  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}