$header-icon-dimension: 60px;

nav {
  position: relative;
  z-index: 200;
  text-align: center;
  padding: $base-spacing*2 0;
  background-color: $black-alt;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 0 $base-spacing*1.5;

      a {
        font-size: 12px;
        letter-spacing: 0.5em;
        color: $white;
        text-decoration: none;
        display: inline-block;
        position: relative;
        text-transform: lowercase;
        vertical-align: middle;

        &.item {

        }
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  @media screen and (max-width: $desktop-breakpoint) {
    ul {
      li {
        display: block;
        padding: $base-spacing/2 0;
      }
    }
  }
}