@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html {
  font-family: $primary-font;
}

h2 {
  font-size: 11px;
  line-height: 1.9em;
  color: $grey;
  letter-spacing: 0.2em;
  margin: 0 0 $base-spacing*0.75;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
}

p {
  margin: 0 0 $base-spacing;
  font-size: 12px;
  line-height: 1.9em;
  letter-spacing: 0.2em;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.lead {
  font-family: $secondary-font;
  font-size: 25px;
  line-height: 1.4em;
  letter-spacing: 0.38em;
  color: $white;
  max-width: 400px;
  margin: 0 0 $base-spacing*1.5;

  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 32px;
  }
}

.cta {
  display: inline-block;
  padding: $base-spacing $base-spacing*3;
  margin: $base-spacing 0 $base-spacing*2;
  color: $white;
  font-size: 12px;
  line-height: 1.9em;
  letter-spacing: 0.5em;
  text-transform: lowercase;
  border: 1px solid $white;

  &:hover {
    background: $white;
    color: $black;
    text-decoration: none;
  }
}

